*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #E3D8D6;
    overflow-x: hidden;

}
header{
    overflow: hidden;
}
@media(min-width:768px){
    .texto{
        width:50%;
        font-weight:700;
    }
}

.img{
    width:320px;
    margin: 0 auto;
    display:block;
}
.img-eren{
    width:300px;
}

@media(min-width:768px){
    .img-eren{
        width:600px;
    }
}


@media(min-width:768px){
    .img{
        width:600px;
    }
}

@media(min-width:768px){
    .contenedor{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }
}
span{
    font-weight:700;
    color:black;
}
.parrafo{
    font-style: italic;
}